* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

.container {
    width: 50%;
    margin: auto;
}

.mb-5 {
    width: 50%;
    margin: auto;
}

.writing-header {
    position: relative;
    margin: 20px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #323232;
}

input {
    width: 100%;
    height: 35px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #e9e8e8;
    padding: 8px;
    background: #f8f8f8;
    outline-color: #e6e6e6;
}

textarea {
    width: 100%;
    background: #f8f8f8;
    margin: 5px 0px 10px 0px;
    border: 1px solid #e9e8e8;
    resize: none;
    padding: 8px;
    outline-color: #e6e6e6;
}

.frm {
    width: 100%;
}

.btn {
    background-color: #ececec; /* 더 연한 회색 배경 */
    border: none;
    color: black;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: underline;
}

#space {
    width: 50%;
    height: 30px;
    margin: auto;
}

ul {
    list-style-type: none;
    width: 100%;
}

#mainContent {
    display: flex;
    flex-direction: row;
}

#mainText {
    flex: 1;
    height: 100%;
}

#imagePreview {
    width: 50%;
    height: 45%;
    flex: 1;
    object-fit: cover;
}

ul {
    width: 100%;
}

.like-info {
    text-align: center;
    color: #333; /* 어두운 회색으로 변경하여 가독성 향상 */
    font-size: 14px;
    margin-top: 10px; /* 상단 여백 추가 */
}

.like-count {
    font-weight: bold;
    font-size: 16px; /* 폰트 크기 증가 */
    color: #007bff; /* 파란색으로 변경하여 시각적 매력 강화 */
    margin-bottom: 5px; /* 하단 여백 추가 */
}

.like-button {
    text-align: center;
    margin-top: 5px; /* 버튼 상단 여백 추가 */
}

.like-button .btn {
    background-color: #28a745; /* 녹색 배경으로 변경 */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px; /* 패딩 증가 */
    font-size: 15px; /* 폰트 크기 조정 */
    cursor: pointer;
    transition: background-color 0.2s; /* 부드러운 색상 변화 */
}

.like-button .btn:hover {
    background-color: #218838; /* 호버 시 더 진한 녹색으로 변경 */
}