/* Navbar 스타일 */
.navbar {
    width: 100%;
    padding: 0;
    background-color: gray;
    overflow: auto;
    display: inline-block;
}

.navbar a {
    float: left;
    padding: 12px;
    color: #ffffff; /* 흰색 텍스트 */
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s; /* 배경색 변경 시 부드러운 효과 */
}

.navbar a:hover {
    background-color: Lightgray;
    color: black;
}

.active {
    background-color: #003d80; /* 현재 페이지 배경색 */
}

/* 작은 화면에서 Navbar 스타일 변경 */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        text-align: center; /* 텍스트 가운데 정렬 */
    }
}

/* 일반 텍스트 스타일 */
p {
    padding: 12px;
    color: #333; /* 어두운 회색 텍스트 */
    text-decoration: none;
    font-size: 17px;
}

/* 프로필 이미지 스타일 */
.profileImg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 3px; /* 프로필 이미지 주변 여백 */
    margin-right: 5px; /* 오른쪽 여백 */
}