* { box-sizing:border-box; }
a { text-decoration: none; }
#inputForm {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f8f9fa;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 300px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 30px 0;
    cursor: pointer; /* 마우스 커서가 버튼 위로 올라왔을 때 포인터 모양 */
}

button:hover {
    background-color: #0056b3;
}

#title {
    font-size: 50px;
    margin: 40px 0 30px 0;
}

#msg {
    height: 30px;
    text-align: center;
    font-size: 16px;
    color: red;
    margin-bottom: 20px;
}



/*  비밀번호 찾기 창  */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    height: 500px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
