<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngmok.myboard.dao.BoardMapper">
    <insert id="insertBoard" parameterType="Board">
        insert into
        board(title,writer,content)
        values(#{title},#{writer},#{content})
    </insert>

    <select id="selectBoardOne" parameterType="int"  resultType="Board">
        select * from board where bno = #{bno}
    </select>

    <select id="selectCount" resultType="int">
        SELECT count(*) FROM board
    </select>

    <delete id="deleteAll">
        DELETE FROM board
    </delete>

    <delete id="delete" parameterType="map">
        DELETE FROM board WHERE bno = #{bno} and writer = #{writer}
    </delete>

    <select id="selectAll" resultType="Board">
        SELECT bno, title, content, writer, cnt, comment_cnt, reg_date
        FROM board
        ORDER BY reg_date DESC, bno DESC
    </select>

    <sql id="selectFromBoard">
        SELECT bno, title, content, writer, cnt, comment_cnt, reg_date
        FROM board
    </sql>

    <select id="select" parameterType="int" resultType="Board">
        <include refid="selectFromBoard"/>
        WHERE bno = #{bno}
    </select>

<!--    <select id="selectPage" parameterType="map" resultType="Board">-->
<!--        <include refid="selectFromBoard"/>-->
<!--        ORDER BY reg_date DESC, bno DESC-->
<!--        LIMIT #{offset}, #{pageSize}-->
<!--    </select>-->

    <update id="update" parameterType="Board">
        UPDATE board
        SET   title = #{title}
          , content = #{content}
#           , up_date = now()
        WHERE bno = #{bno} AND writer = #{writer}
    </update>

    <update id="updateCommentCnt" parameterType="map">
        UPDATE board
        SET   cnt = cnt + #{cnt}
        WHERE bno = #{bno}
    </update>

    <update id="increaseViewCnt" parameterType="int">
        UPDATE board
        SET   cnt = cnt + 1
        WHERE bno = #{bno}
    </update>

    <update id="boardCommentCntUp">
        UPDATE board set comment_cnt = comment_cnt + 1 where bno = #{bno}
    </update>

    <update id="boardCommentCntDown">
        UPDATE board set comment_cnt = comment_cnt - 1 where bno = #{bno}
    </update>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="Board">
        SELECT *
        FROM board
        where true
        <include refid="searchCondition"/>
        <include refid="ORDERBYCondition"/>
        Limit #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*) FROM board where true
        <include refid="searchCondition"/>
    </select>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                and title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                and writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                and (title LIKE concat('%', #{keyword}, '%')
                or content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <sql id="ORDERBYCondition">
        <choose>
            <when test='sortoption=="C"'>
                ORDER BY cnt DESC, bno desc
            </when>
            <when test='sortoption=="L"'>
                ORDER BY board_like DESC, bno desc
            </when>
            <otherwise>
                ORDER BY REG_DATE DESC, bno desc
            </otherwise>
        </choose>
    </sql>

    <update id="updateCommnetCnt">
        UPDATE board
        set comment_cnt = comment_cnt + #{cnt}
        where bno = #{bno}
    </update>

    <select id="selectOneBno" resultType="int">
        select max(bno) from board
    </select>

    <update id="boardLikeUp" parameterType="int" >
        update board set board_like = board_like + 1 where bno = #{bno}

    </update>


</mapper>